@CHARSET "UTF-8";
/*Smartphone 570px*/
@media screen and (min-width:570px){
h1 {
	font-family: 'Caveat', cursive;
	text-align: left;
	font-size: 3.5em;
	margin-left:1%;
}
/*Navigation Header*/

nav ul {
  display:flex;
  flex-direction: column;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
} 

nav li {
  list-style: none;
  margin: 0.5em;
  padding: 0;
  font-size: 1em; 
}

nav li a{
	text-decoration:none;
}

/*Hauptbereich*/
h2 {
	text-align: left;
	margin-left:1%;
}
main {
    border-color: #8a9da8;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

main div img{
	border: 5px black solid;
}

#portrait {
	float:middle;
	position: absolute;
	padding:2%;
	margin:25%;
	width:25%;
}

/*Zeitstrahl*/ 

#timeline {
  position: relative;
  margin-top:15em;
  margin-left: 10em;
  list-style-type: none;
}	

#timeline::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  top: 0;
  background: #808080;
  width: 0.4em;
}

#timeline::after {
  position: absolute;
  content: "";
  bottom: -1.5em;
  left: -0.8em;
  width: 0;
  height: 0;
  border-width: 1em;
  border-style: solid;
  border-color: #808080 transparent transparent transparent;
}

#timeline >li::before{
  position: absolute;
  content: "";
  width: 1em;
  height: 1em;
  left: -0.5em;  
  border-radius: 50%;
  border: 0.2em solid #808080;
  background: #00ff40;
} 

#timeline >li {
  margin-bottom: 3em;
}

li h3 {
  margin: -1em 0 0.2em;
}

time {
    display: block;
	font-weight: bold;
	margin-left: -12em;
	width: 8.5em;
	text-align:right;
}

/*Bilder */

.image {
	position:relative;
	float:left;
	width:46%;
	margin:1%;
	z-index:50;
}

div:nth-child(2n+1){
	clear: left;
}
/*Footer*/

footer {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	position:relative;
	height:3.5em;
	margin:35% 1% 1% 0;
	/*width:96%;*/
}

#haus {
	margin-left:1%;
}

div a{
	color:white;
}
#contact {
margin-left: 1%;

}
#logo {
float:left;
}

#hfu {
	width:15%;
}
}

/*Tablet Portrait 768px*/
@media screen and (min-width: 768px){

#portrait {
	float:middle;
	position: absolute;
	padding:2%;
	margin:15%;
	width:25%;
}

#timeline {
  position: relative;
  margin-top:20em;
  margin-left: 10em;
  list-style-type: none;
}	

.image {
	position:relative;
	float:left;
	width:46%;
	margin:1%;
	z-index:50;
}

div:nth-child(2n+1){
	clear: left;
}
}	
/*Tablet Landscape*/
@media screen and (min-width: 1024px){

#portrait {
	float:middle;
	position: absolute;
	padding:2%;
	margin:10%;
	width:25%;
}
	
#timeline {
  position: relative;
  margin-top:25em;
  margin-left: 10em;
  list-style-type: none;
}	
	
.image {
	position:relative;
	float:left;
	width:46%;
	margin:1%;
	z-index:50;
}

div:nth-child(2n+1){
	clear: left;
}
}	
/*Desktop*/
@media screen and (min-width: 1090px){

#portrait {
	float:middle;
	position: absolute;
	padding:2%;
	margin:5%;
	width:25%;
}
	
#timeline {
  position: relative;
  margin-top:35em;
  margin-left: 10em;
  list-style-type: none;
}	
	
.image {
	position:relative;
	float:left;
	width:46%;
	margin:1%;
	z-index:50;
}

div:nth-child(2n+1){
	clear: left;
}
}